body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background: linear-gradient( to left, 
        pink 40%, 
        rgb(176, 236, 176) 100%, 
        pink
    );
    }
    #result{
        margin-top: 20px;
    }