body {
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  button {
    padding: 10px 20px;
    background-color: pink;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0059b3;
  }